<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootswatch.css">
    <title>{% block title %} {% endblock %} </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-prim bg-primary">
        <h1 class="navbar-brand text-white ms-3">Twitter</h1>
        <button class="btn btn-primary"><a href="/" class="text-white display-small text-decoration-none">Home</a></button>
        {% if session['user_id'] %}
        <form action="/logout"><button class="btn btn-primary">Log Out</button></form>
        <!-- <button class="btn btn-primary"><a href="/logout" class="text-white display-small">Log Out</a></button> -->
        {% else %}
        <button class="btn btn-primary"><a href="/login" class="text-white display-small text-decoration-none">Log In</a></button>
        <button class="btn btn-primary"><a href="/signup" class="text-white display-small text-decoration-none">Sign Up</a></button>
        {% endif %}
    </nav>
    <div class="container mt-3 p-2" >
        {% for category, msg in get_flashed_messages(with_categories=true) %}
        <div class='container pt-2 pb-2 ps-2 warning alert-{{category}} text-white'>
            {{msg}}
        </div>
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>