{% extends 'home.html' %}

{% block title %}Sign Up {% endblock %}

{% block content %}
<div class="container">
<h1 class="display-1">Sign up</h1>

<form method="post">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}

    <p>
        {{field.label}}
        {{field(class_='form-control')}}

        {% for err in field.errors %}
        <span class=text-danger>{{err}}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
</div>
{% endblock %}